// Website Variables and Colours

$base-font-family:                              'Roboto Slab', serif;
$base-font-size:                                20 !default;
$base-line-height:                              36 !default;
$base-font-color:                               #fff !default;
$base-font-weight:                              700;