// ==========================================================================
// Website or App Stylesheet
// ==========================================================================
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,700';

// Variables and Colours
@import "styles/variables-colors";

// Import Base
@import "node_modules/getbase/scss/base";

// Overall Styles
@import "styles/header";
@import "styles/footer";

// Base Helpers
@import "node_modules/getbase/scss/base/_helpers";

html {
	background: url(../img/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.site {
	background: transparent;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

header {
	margin: 20px auto 0 auto;
	svg {
		width: 500px;
		height: auto;
	}
}

.site-content {
	flex: 1;
}

.top-content {
	@include font-size($base-font-size*1.8);
	@include line-height($base-font-size*1.8);
	text-transform: uppercase;
}

footer {
	.main-content {
		@include font-size(60);
		@include line-height(60);
		margin-bottom: 30px;
	}

	.dark {
		background-color: #272B2C;
		color: #9E9E9E;
		a, a:hover, a:focus {
			color: #9E9E9E;
			text-decoration: none;
		}
		padding: 50px 0;
		p {
			margin: 0;
		}
	}
}